<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>KienND_AssimentDay9.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>F1ABEA941DE56C2D00FF21DD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F1ABEAA81DE56C3000FF21DD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F1ABEAB31DE56C3000FF21DD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
